<template>
  <v-container style="max-width: 900px">
    <div>
      <h1>
        purecore Terms and Conditions Of Supply ("
        <strong>Terms</strong>"")
      </h1>
      <p>
        This page (together with our
        <a
          href="https://purecore.io/legal/terms/website"
          target="_blank"
        >General Terms of Use</a> and
        <a href="https://purecore.io/legal/privacy" target="_blank">Privacy Policy</a>, and any other terms referred to on this page) gives you information about purecore Limited t/a purecore and purecore (referred to within these Terms as “
        <strong>us</strong>”, “
        <strong>we</strong>”, “
        <strong>our</strong>”) and sets out the legal terms and conditions on which we may provide the following services to our webstore clients (referred to within these Terms as “
        <strong>you</strong>”, “
        <strong>your</strong>”):
      </p>
      <p>
        <span class="bullet">(i)</span> the provision of a licence to use our webstore software for Gaming Servers (“
        <strong>purecore</strong>”);
      </p>
      <p>
        <span class="bullet">(ii)</span> the provision of different levels of functionality in purecore; and
      </p>
      <p>
        <span class="bullet">(iii)</span> the provision of other ancillary services relating to your use of purecore including, but not limited to, the purecore Merchandise Service (as defined at Schedule 1),
      </p>
      <p>
        (collectively, the “
        <strong>Services</strong>”).
      </p>
      <p>
        These Terms apply to any Contract (as defined at clause 9) formed between us relating to your purchase of a subscription plan for the Services (“
        <strong>Plan</strong>”) regardless of the level of Plan that you purchase. The nature and extent of the Services that we provide to you will depend upon the level of Plan that you purchase. You can find out more about the Plans that we offer, and the Services included with each Plan, on our website located at
        <a
          href="https://www.purecore.io"
          target="_blank"
        >www.purecore.io</a> (our “
        <strong>site</strong>”).
      </p>
      <p>Please read these Terms carefully and make sure that you understand them before purchasing a Plan. Please note that before you purchase a Plan, or obtain the benefit of the Services, you will be asked to agree to these Terms. If you refuse to accept these Terms, you will not be able to purchase a Plan or obtain the benefit of the Services.</p>
      <p>We may amend these Terms from time to time as set out in clause 10. Please check this page regularly to ensure that you are familiar with and understand the terms which will apply at that time.</p>
      <p>These Terms were most recently updated on 24th July 2018.</p>
      <p>These Terms, and any Contract between us, are only in the English language.</p>
      <h2 class="text-dark h3">
        <span class="bullet">1</span> Information about us
      </h2>
      <p>
        <span class="bullet">1.1</span> We are purecore Limited t/a purecore and purecore, a company registered in England and Wales under company number 08129184 and with our registered office at 14 Park Row, Nottingham, England, NG1 6GR. Our VAT number is GB167189962. Our site, and purecore, are both operated by us.
      </p>
      <p>
        <span class="bullet">1.2</span> You may contact us by e-mailing us at
        <a
          href="mailto:support@purecore.io"
        >support@purecore.io</a>. If you wish to give us formal notice of anything under these Terms, please see clause 16.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">2</span> Access to purecore and the Services
      </h2>
      <p>
        <span class="bullet">2.1</span> In consideration of you paying our fees in accordance with these Terms, you may obtain the benefit of the Services during the Plan Period (defined in clause 2.2 below).
      </p>
      <p>
        <span class="bullet">2.2</span> Your Plan will start on the date on which you sign up for the Plan on our site (“
        <strong>Start Date</strong>”) and, subject to earlier termination in accordance with these Terms, will continue until you cancel your Plan, or change to another Plan, in accordance with these Terms (“
        <strong>Plan Period</strong>”).
      </p>
      <p>
        <span class="bullet">2.3</span> We may refuse to accept any order by you to purchase a Plan at any time at our discretion.
      </p>
      <p>
        <span class="bullet">2.4</span> We may suspend or cancel your Plan at any time at our discretion for any reason. Except where we suspend or cancel your Plan as a consequence of your breach of these Terms (in which case no refund will be given), if you have paid a Plan Fee that relates to a period of time which extends beyond the date of suspension or cancellation, we will refund to you a pro-rata proportion of the Plan Fee in respect of each day paid for, but for which you have not received the benefit of the Services.
      </p>
      <p>
        <span class="bullet">2.5</span> In addition to your selected Plan, we may provide additional services and functionality, including the purecore Merchandise Service, which shall be subject to the separately agreed and signed terms and conditions for the purecore Merchandise Service between you and us which shall be substantially in the form set out in Schedule 1.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">3</span> Fees payable by you
      </h2>
      <p>
        <span class="bullet">3.1</span> The monthly fee and transaction processing fees (if applicable) for your Plan shall be as set out on the pricing page of our site located at
        <a
          href="https://purecore.io/pricing"
          target="_blank"
        >www.purecore.io/pricing</a> (“
        <strong>the Plan Fees</strong>”). Please note that some of our Plans provide that your Plan Fees may vary depending upon the number of transactions processed through Your Webstore (as defined at clause 11).
      </p>
      <p>
        <span class="bullet">3.2</span> We take all reasonable care to ensure that the Plan Fees are correct but will notify you if we become aware that we have made a mistake on our site or in any other communication to you.
      </p>
      <p>
        <span class="bullet">3.3</span> We may change the Plan Fees from time to time by updating our site and by notifying you by email and, subject to clause 3.5, these changes will take effect from your next Billing Date (as defined at clause 4.2).
      </p>
      <p>
        <span class="bullet">3.4</span> The Plan Fees, unless otherwise indicated on the site, excludes any sales or other local tax which shall, if applicable, be payable by you in addition at the rate from time to time in force.
      </p>
      <p>
        <span class="bullet">3.5</span> If we notify you of a mistake (as referred to in clause 3.1), or change our Plan Fees (as referred to in clause 3.3), and you no longer wish to proceed with your Plan, you may cancel your Plan in accordance with clause 5.3 below.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">4</span> How to pay for your Plan
      </h2>
      <p>
        <span class="bullet">4.1</span> You can only pay the Plan Fees using the payment methods listed on our site. Where your Plan Fees require the payment of recurring monthly payments, we may require that you pay using a recurring payment method provided by third party payment providers such as PayPal. Details of such services are available on our site.
      </p>
      <p>
        <span class="bullet">4.2</span> The Plan Fees (if applicable) are payable monthly in advance with the first payment being payable on the Start Date and each subsequent payment being payable on, or on the date immediately preceding (in cases where it is not possible to process your payment on the same date) the same date of each subsequent month during the Plan Period thereafter (the “
        <strong>Billing Date</strong>”). Your payment for the Plan Fees will be processed automatically on the Billing Date using the payment details that you provide to us from time to time and we will confirm to you by e-mail that this has happened.
      </p>
      <p>
        <span class="bullet">4.3</span> Transactions made through our site will be in Pounds Sterling. If you wish to pay with any other currency, the exchange rate and any additional transaction charges will be controlled and applied by the issuing bank and not us. We will not be liable for any additional charges incurred in respect of this.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">5</span> Your Plan and how to cancel or make changes to it
      </h2>
      <p>
        <span class="bullet">5.1</span> We offer a number of different Plans and the Services that we provide to you will depend upon the level of Plan that you purchase. A brief summary of the key features of each Plan, and the Plan Fees applicable to each Plan, can be viewed on the pricing page of our site located at
        <a
          href="https://purecore.io/pricing"
          target="_blank"
        >www.purecore.io/pricing</a>.
      </p>
      <p>
        <span class="bullet">5.2</span> We may from time to time, at our discretion, offer Plans to you that are free of charge, or provide you with the benefit of certain ‘paid for’ Plans on a trial basis free of charge (“
        <strong>Free Service</strong>”). We may withdraw any Free Service at any time at our discretion. We do not offer any warranties (whether express or implied) to you in relation to any Free Services.
      </p>
      <p>
        <span class="bullet">5.3</span> If you wish to change your Plan (either to upgrade or downgrade to another Plan), or cancel your Plan, you may do so at any time through accessing your account on our site or by sending us a written request by e-mail. We will aim to respond to any such request, and notify you by email that we have processed your requested change or cancellation, within 48 hours. Clause 5.4 below sets out applicable terms in relation to your Plan Fees in the event that you wish to change or cancel your Plan.
      </p>
      <p>
        <span class="bullet">5.4</span> Where you change your Plan (either to upgrade or downgrade to another Plan) or cancel your Plan by following the procedure set out in clause 5.3 above, the following shall terms shall apply in respect of the Plan Fees paid or payable by you:
      </p>
      <p>
        <span class="bullet">5.4.1</span> where you upgrade your Plan from a Free Service, then your new Plan will take effect from the date on which you sign up for your new Plan and pay the Plan Fees, and this date shall be deemed to be the Start Date for your Plan and will be the date by reference to which your Billing Date will be determined;
      </p>
      <p>
        <span class="bullet">5.4.2</span> where you upgrade your Plan from one ‘paid for’ Plan to another (for example from our ‘Premium’ Plan to our ‘Ultimate’ Plan), your Billing Date will not change, but you will be charged a pro-rata amount which reflects the difference between the Plan Fees applicable to your new Plan less the Plan Fees already paid by you for your existing Plan in respect of the period from the date on which you upgraded your Plan until your next Billing Date;
      </p>
      <p>
        <span class="bullet">5.4.3</span> where you downgrade your Plan, either from one ‘paid for’ Plan to another or from a ‘paid for’ Plan to a Free Service, the change in your Plan shall take effect from your next Billing Date and no refund shall be given in respect of any Plan Fees already paid by you prior to the date of the change;
      </p>
      <p>
        <span class="bullet">5.4.4</span> where you cancel your Plan, your cancellation shall take effect from your next Billing Date but no refund shall be given in respect of any Plan Fees already paid by you prior to the date of cancellation.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">6</span> How we use your personal information
      </h2>
      <p>
        We only use your personal information in accordance with our
        <a
          href="https://purecore.io/privacy"
          target="_blank"
        >Privacy Policy</a>. Please take the time to read our
        <a
          href="https://purecore.io/privacy"
          target="_blank"
        >Privacy Policy</a>, as it includes important terms which apply to you.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">7</span> Processing customer data
      </h2>
      <h3 class="text-dark h4">Background</h3>
      <p>
        <span class="bullet">7.1</span> This clause 7 sets out how you and we will process personal information of your customers visiting and using Your Webstore (as defined at clause 11).
      </p>
      <p></p>
      <h3 class="text-dark h4">Definitions</h3>
      <p>
        <span class="bullet">7.2</span> In this clause 7:
      </p>
      <p>
        <span class="bullet">7.2.1</span> “
        <strong>Controller</strong>”, “
        <strong>Data Subject</strong>”, “
        <strong>Personal Data</strong>”, “
        <strong>Processor</strong>” and “
        <strong>processing</strong>” shall have the respective meanings given to them in applicable Data Protection Laws from time to time (and related expressions, including “
        <strong>process</strong>”, “
        <strong>processing</strong>”, “
        <strong>processed</strong>” and “
        <strong>processes</strong>” shall be construed accordingly) and “
        <strong>international organisation</strong>” and “
        <strong>Personal Data Breach</strong>” shall have the respective meanings given to them in the GDPR;
      </p>
      <p>
        <span class="bullet">7.2.2</span> “
        <strong>Data Protection Laws</strong>” means any applicable law relating to the processing, privacy and use of Personal Data, as binding on either party or the Services, including:
      </p>
      <p>(a) the Directive 95/46/EC (Data Protection Directive) and/or Data Protection Act 1998 or the GDPR;</p>
      <p>(b) any laws which implement any such laws;</p>
      <p>(c) any laws that replace, extend, re-enact, consolidate or amend any of the foregoing; and</p>
      <p>(d) all guidance, guidelines, codes of practice and codes of conduct issued by any relevant supervisory authority relating to such Data Protection Laws (in each case whether or not legally binding);</p>
      <p></p>
      <p>
        <span class="bullet">7.2.3</span> “
        <strong>GDPR</strong>” means the General Data Protection Regulation (EU) 2016/679;
      </p>
      <p>
        <span class="bullet">7.2.4</span> “
        <strong>Protected Data</strong>” means Personal Data received from us or someone on our behalf in connection with the performance of your obligations under these Terms and/or the Contract;
      </p>
      <p>
        <span class="bullet">7.2.5</span> “
        <strong>Sub-Processor</strong>” means any agent, subcontractor or other third party (excluding its employees) engaged by you for carrying out any processing activities on your behalf in respect of the Protected Data; and
      </p>
      <p>
        <span class="bullet">7.2.6</span> “
        <strong>supervisory authority</strong>” means any regulator, authority or body responsible for administering Data Protection Laws.
      </p>
      <p></p>
      <h3 class="text-dark h4">Compliance with Data Protection Laws</h3>
      <p>
        <span class="bullet">7.3</span> The parties agree that we are a Controller and you are a Processor for the purposes of processing Protected Data pursuant to these Terms, the Merchandise Terms, and/or the Contract. You shall, and shall ensure your Sub-Processors and each of your personnel shall, at all times comply with all Data Protection Laws in connection with the processing of Protected Data in connection with the operation of Your Webstore and shall not by any act or omission cause us (or any other person) to be in breach of any of the Data Protection Laws. Nothing in these Terms and/or the Contract relieves you of any responsibilities or liabilities you have under Data Protection Laws. You must complete our GDPR Audit (at Schedule 2) prior to receiving access to your Plan, and you shall recertify (and amend if required) your response to the GDPR Audit on a 6-monthly basis. Failure to keep your GDPR Audit updated may result in us suspending access to Protected Data.
      </p>
      <p>
        <span class="bullet">7.4</span> You shall indemnify us, and keep us indemnified, against:
      </p>
      <p>
        <span class="bullet">7.4.1</span> all losses, claims, damages, liabilities, fines, interest, penalties, costs, charges, sanctions, expenses, compensation paid to Data Subjects (including compensation to protect goodwill and ex gratia payments), demands and legal and other professional costs (calculated on a full indemnity basis and in each case whether or not arising from any investigation by, or imposed by, a supervisory authority) arising out of or in connection with any breach by you of your obligations under this clause 7; and
      </p>
      <p>
        <span class="bullet">7.4.2</span> all amounts paid or payable by us to a third party which would not have been paid or payable if your breach of this clause 7 had not occurred.
      </p>
      <p></p>
      <h3 class="text-dark h4">Instructions</h3>
      <p>
        <span class="bullet">7.5</span> You shall only process (and shall ensure your personnel only process) the Protected Data in accordance with Schedule 2, these Terms, the Contract and our written instructions from time to time except where otherwise required by applicable law (and in such a case shall inform us of that legal requirement before processing, unless applicable law prevents you doing so on important grounds of public interest). You shall immediately inform us if any instruction relating to the Protected Data infringes or may infringe any Data Protection Law. In relation to direct marketing, you shall ensure that any marketing emails directed at Data Subjects contain straightforward unsubscribe options.
      </p>
      <p></p>
      <h3 class="text-dark h4">Security</h3>
      <p>
        <span class="bullet">7.6</span> You shall at all times implement and maintain appropriate technical and organisational measures to protect Protected Data against accidental, unauthorised or unlawful destruction, loss, alteration, disclosure or access. Such technical and organisational measures shall be at least equivalent to the technical and organisational measures set out in Part B of Schedule 2 and shall reflect the nature of the Protected Data.
      </p>
      <p></p>
      <h3 class="text-dark h4">Sub-processing and personnel</h3>
      <p>
        <span class="bullet">7.7</span> You shall:
      </p>
      <p>
        <span class="bullet">7.7.1</span> not permit any processing of Protected Data by any agent, subcontractor or other third party (except your own employees that are subject to an enforceable obligation of confidence with regards to the Protected Data) without our prior specific written authorisation of that Sub-Processor and only then subject to such conditions as we may require;
      </p>
      <p>
        <span class="bullet">7.7.2</span> ensure that access to Protected Data is limited to the authorised persons who need access to it to operate Your Webstore;
      </p>
      <p>
        <span class="bullet">7.7.3</span> prior to the relevant Sub-Processor carrying out any processing activities in respect of the Protected Data, appoint each Sub-Processor under a written contract containing the same obligations as under this clause 7 that is enforceable by you and ensure each such Sub-Processor complies with all such obligations;
      </p>
      <p>
        <span class="bullet">7.7.4</span> remain fully liable to us under these Terms and/or the Contract for all the acts and omissions of each Sub-Processor as if they were your own; and
      </p>
      <p>
        <span class="bullet">7.7.5</span> ensure that all persons authorised by you or any Sub-Processor to process Protected Data are reliable and:
      </p>
      <p>(a) adequately trained on compliance with this clause 7 as applicable to the processing;</p>
      <p>(b) informed of the confidential nature of the Protected Data and that they must not disclose Protected Data;</p>
      <p>(c) subject to a binding and enforceable written contractual obligation to keep the Protected Data confidential; and</p>
      <p>(d) provide relevant details and a copy of each agreement with a Sub-Processor to us on request.</p>
      <p></p>
      <h3 class="text-dark h4">Assistance</h3>
      <p>
        <span class="bullet">7.8</span> You shall (at your own cost and expense):
      </p>
      <p>
        <span class="bullet">7.8.1</span> promptly provide such information and assistance (including by taking all appropriate technical and organisational measures) as we may require in relation to the fulfilment of our obligations to respond to requests for exercising the Data Subjects’ rights under Chapter III of the GDPR (and any similar obligations under applicable Data Protection Laws); and
      </p>
      <p>
        <span class="bullet">7.8.2</span> provide such information, co-operation and other assistance to us as we reasonably require (taking into account the nature of processing and the information available to you) to ensure compliance with our obligations under Data Protection Laws, including with respect to:
      </p>
      <p>(a) security of processing;</p>
      <p>(b) data protection impact assessments (as such term is defined in Data Protection Laws);</p>
      <p>(c) prior consultation with a supervisory authority regarding high risk processing; and</p>
      <p>(d) any remedial action and/or notifications to be taken in response to any Personal Data Breach and/or any complaint or request relating to either party’s obligations under Data Protection Laws relevant to these Terms and/or the Contract, including (subject in each case our prior written authorisation) regarding any notification of the Personal Data Breach to supervisory authorities and/or communication to any affected Data Subjects.</p>
      <p></p>
      <p>
        <span class="bullet">7.9</span> You shall (at no cost to us) record and refer all requests and communications received from Data Subjects or any supervisory authority to us which relate (or which may relate) to any Protected Data promptly (and in any event within 3 days of receipt) and shall not respond to any without our express written approval and strictly in accordance our instructions unless and to the extent required by law.
      </p>
      <p></p>
      <h3 class="text-dark h4">International transfers</h3>
      <p>
        <span class="bullet">7.10</span> You shall not, in relation to any Protected Data processed in connection with the operation of Your Webstore, transfer Protected Data outside of the EU or to any international organisation (as defined in the GDPR) unless our prior written consent has been obtained and the following conditions are fulfilled:
      </p>
      <p>
        <span class="bullet">7.10.1</span> either party has provided appropriate safeguards in relation to the transfer (whether in accordance with GDPR Article 46 or LED Article 37) as determined by us;
      </p>
      <p>
        <span class="bullet">7.10.2</span> the Data Subject has enforceable rights and effective legal remedies;
      </p>
      <p>
        <span class="bullet">7.10.3</span> you comply with your obligations under the Data Protection Laws by providing an adequate level of protection to any Protected Data that is transferred (or, if you are not so bound, use your best endeavours to assist us in meeting our obligations);
      </p>
      <p>
        <span class="bullet">7.10.4</span> you comply with any reasonable instructions notified to you in advance by us with respect to the processing of the Protected Data; and
      </p>
      <p>
        <span class="bullet">7.10.5</span> where you propose to transfer any Protected Data to the United States, you shall ensure that the recipient is part of the Privacy Shield Framework.
      </p>
      <p>
        <span class="bullet">7.11</span> You hereby acknowledge and accept that:
      </p>
      <p>
        <span class="bullet">7.11.1</span> in providing purecore, we use a back-up server located in the United States; and
      </p>
      <p>
        <span class="bullet">7.11.2</span> in providing the purecore Merchandise Service, we use third party partners to fulfil orders for merchandise made by your customers.
      </p>
      <p></p>
      <h3 class="text-dark h4">Records and audit</h3>
      <p>
        <span class="bullet">7.12</span> You shall maintain complete, accurate and up to date written records of all categories of processing activities carried out on our behalf. Such records shall include all information necessary to demonstrate your compliance with this clause 7, the information referred to in Articles 30(1) and 30(2) of the GDPR and such other information as we may reasonably require from time to time. You shall make copies of such records available to us promptly.
      </p>
      <p>
        <span class="bullet">7.13</span> You shall (and shall ensure all Sub-Processors shall) promptly make available to us (at your cost) such information as is reasonably required to demonstrate your compliance with obligations under this clause 7 and the Data Protection Laws, and allow for, permit and contribute to audits, including inspections, by us (or our auditor) for this purpose at our request from time to time. You shall provide (or procure) access to all relevant premises, systems, personnel and records during normal business hours for the purposes of each such audit or inspection upon reasonable prior notice (not being more than 2 Business Days) and provide and procure all further reasonable co-operation, access and assistance in relation to any such audit or inspection.
      </p>
      <p></p>
      <h3 class="text-dark h4">Breach</h3>
      <p>
        <span class="bullet">7.14</span> You shall promptly (and in any event within 24 hours):
      </p>
      <p>
        <span class="bullet">7.14.1</span> notify us if you (or any of your Sub-Processors or personnel) suspects or becomes aware of any suspected, actual or threatened occurrence of any Personal Data Breach in respect of any Protected Data;
      </p>
      <p>
        <span class="bullet">7.14.2</span> provide all information as we require to report the circumstances referred to in clause 7.14.1 to a supervisory authority and to notify affected Data Subjects under Data Protection Laws; and
      </p>
      <p>
        <span class="bullet">7.14.3</span> make every effort to remove any Personal Data available to unauthorised parties, including but not limited to removing data from web pages, serving takedown notices and deleting records as appropriate.
      </p>
      <p></p>
      <p></p>
      <h3 class="text-dark h4">Deletion/return</h3>
      <p>
        <span class="bullet">7.15</span> You shall (and shall ensure that each of your Sub-Processors and personnel shall) without delay (and in any event within 3 days), at our written request, either securely delete or securely return all the Protected Data to us in such form as we reasonably request after the earlier of:
      </p>
      <p>
        <span class="bullet">7.15.1</span> the end of the provision of the relevant Services related to processing of such Protected Data; or
      </p>
      <p>
        <span class="bullet">7.15.2</span> once processing by the Supplier of any Protected Data is no longer required in operating Your Webstore,
      </p>
      <p>and securely delete existing copies (except to the extent that storage of any such data is required by applicable law and, if so, you shall inform us of any such requirement).</p>
      <p>
        <span class="bullet">7.16</span> This clause 7 shall survive termination or expiry of the Contract for any reason.
      </p>
      <p></p>
      <h3 class="text-dark h4">Cost</h3>
      <p>
        <span class="bullet">7.17</span> You shall perform all your obligations under this clause 7 at no cost to us.
      </p>
      <p></p>
      <h3 class="text-dark h4">Remedy</h3>
      <p>
        <span class="bullet">7.18</span> In the event of any failure to meet your obligations under this clause 7, or in the event of any such breach of these Terms, my may take action at our discression to secure the data for which we as Data Controller are responsible. This may include (but is not limited to) removing your ability to access such data, revoking your processing instructions or terminating your Plan with no notice given.
      </p>
      <p></p>
      <h2 class="text-dark h3">
        <span class="bullet">8</span> Authority and applicable terms
      </h2>
      <p>
        <span class="bullet">8.1</span> To be eligible to purchase a Plan, you must (i) have full legal capacity to enter into a contract in your country of residence; and (ii) if you are an individual, be at least 18 years old; and you further represent and warrant to us that you have authority to bind any business on whose behalf you use our site or purchase a Plan to access the Services.
      </p>
      <p>
        <span class="bullet">8.2</span> Where you do not meet the requirements set out in clause 8.1 above you will need to ask a person who does satisfy those requirements to purchase the Plan on your behalf and enter into a contract with us.
      </p>
      <p>
        <span class="bullet">8.3</span> These Terms and any document expressly referred to in them constitute the entire agreement between you and us and supersede and extinguish all previous agreements, promises, assurances, warranties, representations and understandings between us, whether written or oral, relating to its subject matter.
      </p>
      <p>
        <span class="bullet">8.4</span> You acknowledge that in entering in purchasing a Plan you do not rely on any statement, representation, assurance or warranty (whether made innocently or negligently) that is not set out in these Terms, the Merchandise Terms and/or the Contract, or any document expressly referred to in them.
      </p>
      <p>
        <span class="bullet">8.5</span> You and we agree that neither of us shall have any claim for innocent or negligent misrepresentation or negligent misstatement based on any statement in these Terms, the Merchandise Terms and/or the Contract.
      </p>
      <p></p>
      <h2 class="text-dark h3">
        <span class="bullet">9</span> How the contract is formed between you and us
      </h2>
      <p>
        <span class="bullet">9.1</span> The instructions on our site will guide you through the process for purchasing a Plan. Please take the time to read and check the details of your Plan at each stage of the registration process.
      </p>
      <p>
        <span class="bullet">9.2</span> After you purchase a Plan, you will receive a confirmation e-mail from us acknowledging that your Plan has been purchased at which point you and we will have entered into a contractual commitment (the “
        <strong>Contract</strong>”). Once you have received this e-mail, you will have the option to download an invoice from our site setting out the details of your Plan (“
        <strong>Invoice</strong>”).
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">10</span> Our right to vary these Terms
      </h2>
      <p>
        <span class="bullet">10.1</span> We may vary these Terms, and the Services that we offer in connection with any Plan, from time to time by publishing updated Terms and/or updated Plan descriptions on our site and/or by notifying you by e-mail. Please consider the section at the top of this page to see when these Terms were last updated.
      </p>
      <p>
        <span class="bullet">10.2</span> If we revise these Terms as they apply to your Plan, and you do not agree to the changes, you may cancel your Plan in accordance with the clause 5.3 above.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">11</span> Your account and use of the Services
      </h2>
      <p>
        <span class="bullet">11.1</span> purecore enables you to operate a webstore incorporating your own content (“
        <strong>Your Webstore</strong>”).
      </p>
      <p>
        <span class="bullet">11.2</span> The content of Your Webstore (except for any content provided by us) is your sole and entire responsibility and all content you create is at your own risk.
      </p>
      <p>
        <span class="bullet">11.3</span> You shall not upload any content to, sell any products on, or otherwise carry out any activity on, Your Webstore which infringes the intellectual property rights, or any other rights, of any third party.
      </p>
      <p>
        <span class="bullet">11.4</span> At all times when using the Services and operating Your Webstore, you must comply fully with the terms of the game in question.
      </p>
      <p>
        <span class="bullet">11.5</span> As part of the Services, purecore supports a number of payment gateways. When utilising these payment gateways you must comply with the terms and conditions of the applicable payment gateway. We are not responsible for any issues arising from your use of these payment gateways and any claims or complaints relating to such gateways must be directed to the payment gateway providers directly.
      </p>
      <p>
        <span class="bullet">11.6</span> You must treat your account details, including your username and password, as confidential, and not disclose them to any third party other than those approved users who have access to your ‘Team Account’, or those employees or members of your business who have your authority to access your account on our site or Your Webstore.
      </p>
      <p>
        <span class="bullet">11.7</span> If you know or suspect that anyone other than a third party you have specifically authorised knows your user identification code or password, you must promptly notify us at
        <a
          href="mailto:support@purecore.io"
        >support@purecore.io</a>.
      </p>
      <p>
        <span class="bullet">11.8</span> You are responsible for any activities that occur under your account and on Your Webstore. We shall not be liable to you or any third party for any loss or damage which may arise as a result of any failure by you to keep your password or account confidential.
      </p>
      <p>
        <span class="bullet">11.9</span> Our site and purecore may only be used for lawful purposes. You are prohibited from violating or attempting to violate the security of our site or purecore or using it to obtain products or services not properly ordered and fully paid for.
      </p>
      <p>
        11.10 You may not interrupt or attempt to interrupt the operation of our site or purecore in any way or send unsolicited email messages (“
        <strong>Spam</strong>”) to, or through, our site or purecore, or otherwise harass the site owner, provider, or other users.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">12</span> Our provision of the Services
      </h2>
      <p>
        <span class="bullet">12.1</span> We will make reasonable efforts to keep the Services operational at all times. Technical difficulties may result in temporary interruptions to the Services.
      </p>
      <p>
        <span class="bullet">12.2</span> No interruptions to the Services shall entitle you to a refund of any payment already made by you or any compensation for revenue lost.
      </p>
      <p>
        <span class="bullet">12.3</span> We are under no obligation to provide any content for the Services and reserve the right to upload, remove, vary or otherwise deal with any content provided on our site from time to time.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">13</span> Licence and intellectual property
      </h2>
      <p>
        <span class="bullet">13.1</span> All intellectual property rights, and all other rights including goodwill, whether now known or created in the future, in our site, the Services and the content we provide to you is our property and shall vest in us.
      </p>
      <p>
        <span class="bullet">13.2</span> In consideration for the Plan Fees we grant you a limited, non-exclusive, revocable licence to use, view, access, download, or print content provided through the Services for use by you for the sole purpose of developing and using Your Webstore during the Plan Period (“
        <strong>Licence</strong>”). When you use, transmit, download or print any content, you must ensure that all copyright, trade mark and other proprietary notices comprised within that content are retained.
      </p>
      <p>
        <span class="bullet">13.3</span> You shall not assign or sub-licence your rights under the Licence.
      </p>
      <p>
        <span class="bullet">13.4</span> Where we provide you with access to open source software, you shall comply with the applicable terms in relation to such software.
      </p>
      <p>
        <span class="bullet">13.5</span> Your Licence does not permit you to:
      </p>
      <p>
        <span class="bullet">13.5.1</span> copy, adapt, reverse engineer, decompile or disassemble any of our source code;
      </p>
      <p>
        <span class="bullet">13.5.2</span> copy, adapt or modify any of our trade marks;
      </p>
      <p>
        <span class="bullet">13.5.3</span> use any of our trade marks other than as provided to you as part of the Services,
      </p>
      <p>or authorise or assist anyone else to do so without our express prior written consent.</p>
      <h2 class="text-dark h3">
        <span class="bullet">14</span> Liability
      </h2>
      <p>
        <span class="bullet">14.1</span> Nothing in these Terms limits or excludes our liability for:
      </p>
      <p>
        <span class="bullet">14.1.1</span> death or personal injury caused by our negligence; or
      </p>
      <p>
        <span class="bullet">14.1.2</span> fraud or fraudulent misrepresentation; or
      </p>
      <p>
        <span class="bullet">14.1.3</span> any other loss or liability which may not be excluded or limited by law.
      </p>
      <p>
        <span class="bullet">14.2</span> Subject to clause 14.1, we will under no circumstances whatsoever be liable to you, whether in contract, tort (including negligence), breach of statutory duty, or otherwise howsoever arising for:
      </p>
      <p>
        <span class="bullet">14.2.1</span> any loss of profits, sales, business, or revenue;
      </p>
      <p>
        <span class="bullet">14.2.2</span> loss or corruption of data, information or software;
      </p>
      <p>
        <span class="bullet">14.2.3</span> loss of business opportunity;
      </p>
      <p>
        <span class="bullet">14.2.4</span> loss of anticipated savings;
      </p>
      <p>
        <span class="bullet">14.2.5</span> loss of goodwill; or
      </p>
      <p>
        <span class="bullet">14.2.6</span> any indirect or consequential loss.
      </p>
      <p>
        <span class="bullet">14.3</span> Subject to clause 14.1, our total liability to you, whether in contract, tort (including negligence), breach of statutory duty, or otherwise howsoever arising, shall in no circumstances exceed 100% of the total Plan Fees paid by you in the 12-month period prior to the date on which the act or omission giving rise to the liability occurred.
      </p>
      <p>
        <span class="bullet">14.4</span> You shall remain solely responsible for compliance with your own legal duties and obligations, including (but without limitation) in respect of the content of Your Webstore (except to the extent we have provided this content to you) and the provision of your services to your own customers. Subject to clause 14.1, we shall not be liable to you or any of your customers for any loss or liability arising out of any failure by you to comply with the terms of any agreement between you and any of your customers, or for your failure to comply with any other legal duties or obligations relating to your use or operation of Your Webstore.
      </p>
      <p>
        <span class="bullet">14.5</span> Except as expressly stated in these Terms, we do not give any representation, warranties or undertakings in relation to the Services. Any representation, condition or warranty which might be implied or incorporated into these Terms by statute, common law or otherwise is excluded to the fullest extent permitted by law. In particular, we will not be responsible for ensuring that the content provided through the Services is suitable for your purposes.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">15</span> Indemnity
      </h2>
      <p>
        <span class="bullet">15.1</span> You shall indemnify us against all liabilities, costs, expenses, damages and losses (including but not limited to any direct, indirect or consequential losses, loss of profit, loss of reputation and all interest, penalties and legal costs (calculated on a full indemnity basis) and all other reasonable professional costs and expenses) suffered or incurred by us arising out of or in connection with:
      </p>
      <p>
        <span class="bullet">15.1.1</span> your breach or negligent performance or non-performance of any of these Terms;
      </p>
      <p>
        <span class="bullet">15.1.2</span> any claim made against us for the actual or alleged infringement of any third party intellectual property rights arising out of or in connection with: your use of the Services; any content on Your Webstore (other than content provided by us); or any products sold by you on Your Webstore; and
      </p>
      <p>
        <span class="bullet">15.1.3</span> any claim made against us by any third party arising out of or in connection with the digital content, goods or services supplied by you through Your Webstore.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">16</span> Communications between us
      </h2>
      <p>
        <span class="bullet">16.1</span> When we say "in writing", this includes e-mail.
      </p>
      <p>
        <span class="bullet">16.2</span> Any notice or other communication given by you to us, or by us to you, under or in connection with these Terms needs to be in writing and can be delivered personally, sent by registered post or airmail, or sent by email. We will contact you at the address or e-mail address you provide when registering.
      </p>
      <p>
        <span class="bullet">16.3</span> Where you are sending us a notice or communication, please deliver this to us personally at, or send it by registered post or airmail to:
      </p>
      <p>purecore Limited</p>
      <p>14 Park Row</p>
      <p>Nottingham</p>
      <p>England</p>
      <p>NG1 6GR</p>
      <p>
        or send it by e-mail to
        <a href="mailto:support@purecore.io">support@purecore.io</a>.
      </p>
      <p>
        <span class="bullet">16.4</span> A notice or other communication will be assumed to be received:
      </p>
      <p>
        <span class="bullet">16.4.1</span> if it was delivered personally, on the date it was left at our address above;
      </p>
      <p>
        <span class="bullet">16.4.2</span> if it was sent by registered post or airmail at 9.00 am on the fifth working day after it was posted; or
      </p>
      <p>
        <span class="bullet">16.4.3</span> if it was sent by e-mail, one working day after it was sent.
      </p>
      <p>
        <span class="bullet">16.5</span> In proving the service of any notice, it will be sufficient to prove, in the case of a letter, that such letter was properly addressed, stamped and placed in the post and, in the case of an e-mail, that such e-mail was sent to the specified e-mail address of the addressee.
      </p>
      <p>
        <span class="bullet">16.6</span> This section will not apply to any documents or proceedings served on us in any legal action.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">17</span> Confidential information
      </h2>
      <p>
        <span class="bullet">17.1</span> Any non-personal information or material, except for financial information, sent to us will be deemed NOT to be confidential. By sending us any non-personal information or material, you give us an unrestricted, irrevocable license to use, reproduce, display, perform, modify, transmit and distribute those materials or information, and you also agree that we are free to use any ideas, concepts, know-how or techniques that you send us for any purpose. However, we will not release your name or otherwise publicise the fact that you submitted materials or other information to us unless:
      </p>
      <p>
        <span class="bullet">17.1.1</span> you give us permission to do so;
      </p>
      <p>
        <span class="bullet">17.1.2</span> we first notify you that the materials or other information you submit to a particular part of our site will be published or otherwise used with your name on it; or
      </p>
      <p>
        <span class="bullet">17.1.3</span> we are required to do so by law.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">18</span> Other sites
      </h2>
      <p>
        <span class="bullet">18.1</span> When you visit or purchase from a website affiliated with us or linked to our site, you use the other site at your own risk and that site’s terms and conditions of use and privacy policy will apply. We have not examined the content of any other website, and are not responsible for the actions, products, services, or content of any such other site or its related businesses.
      </p>
      <h2 class="text-dark h3">
        <span class="bullet">19</span> Other important terms
      </h2>
      <p>
        <span class="bullet">19.1</span> We may transfer our rights and obligations under our Contract with you to another organisation, but this will not affect your rights or our obligations under these Terms.
      </p>
      <p>
        <span class="bullet">19.2</span> You may only transfer your rights or your obligations under our Contract with you if to another person if we agree in writing.
      </p>
      <p>
        <span class="bullet">19.3</span> This Contract is between you and us. No other person shall have any rights to enforce any of its terms, whether under the Contracts (Rights of Third Parties) Act 1999 or otherwise.
      </p>
      <p>
        <span class="bullet">19.4</span> Each of the clauses of these Terms operates separately. If any court or relevant authority decides that any of them are unlawful or unenforceable, the remaining clauses will remain in full force and effect.
      </p>
      <p>
        <span class="bullet">19.5</span> If we fail to insist that you perform any of your obligations under these Terms, or if we do not enforce our rights against you, or if we delay in doing so, that will not mean that we have waived our rights against you and will not mean that you do not have to comply with those obligations. If we do waive a default by you, we will only do so in writing, and that will not mean that we will automatically waive any later default by you.
      </p>
      <p>
        <span class="bullet">19.6</span> Any Contract and any dispute or claim arising out of or in connection with it or its subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.
      </p>
      <p>
        <span class="bullet">19.7</span> We both agree that the English courts shall have exclusive jurisdiction to settle any dispute or claim arising out of or in connection with a Contract or its subject matter or formation (including non-contractual disputes or claims).
      </p>
      <p></p>
      <p></p>
      <h1>
        Schedule 1 - purecore Merchandise Terms (“
        <strong>Merchandise Terms</strong>”)
      </h1>
      <p>
        These terms and conditions shall apply to and govern all contracts for the supply of physical merchandise (“
        <strong>purecore Merchandise</strong>”) services available through purecore (“
        <strong>purecore Merchandise Service</strong>”). You are not obliged to use the purecore Merchandise Service, but if you do, our purecore Terms of Supply to which these Merchandise Terms are annexed (“
        <strong>Terms</strong>”) and these terms & conditions represent the complete terms of each contract for the purecore Merchandise Service and constitute the entire agreement between the parties and supersede and extinguish all previous agreements, promises, assurances, warranties, representations and understandings between them, whether written or oral, relating to its subject matter.
      </p>
      <p>
        Each of us acknowledges that in entering into a contract for the purchase of purecore Merchandise (in each case, an “
        <strong>Agreement</strong>”) it does not rely on, and shall have no remedies in respect of any statement, representation, assurance or warranty (whether made innocently or negligently) that is not set out in these Merchandise Terms. By using the purecore Merchandise Service, you acknowledge that you have read, understood and agree with these standard terms and conditions and that they are legally binding and apply to all sales of purecore Merchandise made. These Merchandise Terms shall take precedence over the main terms to the extent of any inconsistency.
      </p>
      <p>Where words or phrases are capitalised within these Merchandise Terms, unless defined within this Schedule 1, they shall be deemed to have the meaning given to such terms within the Terms.</p>
      <p>In respect of EU Customers, we shall be fulfilling the orders for purecore Merchandise directly, and for Non-EU Customers, you shall be responsible for fulfilling the orders, facilitated by us through our partners. For both EU Customers and Non-EU Customers, it is your responsibility to ensure that customers are notified of all applicable terms in respect of purecore Merchandise orders and fulfilment. Save in respect of any liability which cannot be excluded by law, we shall not be responsible or have any liability in respect of your failure to do so.</p>
      <p>1. Placing an Order</p>
      <p>
        To place an order for purecore Merchandise, your customers shall place an order through Your Webstore for which we will receive a notification. All customers will need to complete all relevant fields required in the relevant order form on Your Webstore before submitting the order to us (“
        <strong>Order</strong>”). An Order will not be accepted until confirmation of dispatch is sent to the individual who has placed the Order. We can only directly fulfil Orders placed by customers based in the EU (“
        <strong>EU Customers</strong>”), subject always to you providing us with a licence to use all imagery provided for that Order for purecore Merchandise in accordance with paragraph 4 below. Any orders placed by customers from outside the EU (“
        <strong>Non-EU Customers</strong>”) must be fulfilled by you.
      </p>
      <p>
        Before approving Your Webstore to place an Order, we reserve the right to conduct appropriate identity and credit checks. We will request that you provide us with adequate documentation in order to complete these checks, and all information provided shall be processed in accordance with our
        <a
          href="https://purecore.io/privacy"
          target="_blank"
        >Privacy Policy</a>. If you do not wish to provide such information, your functionality and ability to use the purecore Merchandise Service may be limited or removed. We shall accept no liability in respect of any refusal to provide the purecore Merchandise Service pursuant to your refusal to provide such information.
      </p>
      <p>2. Acceptance of Orders</p>
      <p>
        <span class="bullet">2.1</span> Regardless of whether we are fulfilling the Order directly (as in the case of EU Customers), or in the event of purchases from Non-EU Customers, where we act as intermediary between you and our non-EU fulfilment partners, we reserve the right to refuse any Orders for which, in our absolute discretion:
      </p>
      <p>(a) The purecore Merchandise in that Order is not available;</p>
      <p>(b) We cannot obtain authorisation in respect of payment for that Order;</p>
      <p>(c) There has been a pricing or product description error;</p>
      <p>(d) The Order is to be delivered to an area where delivery is onerous, dangerous or disproportionately expensive;</p>
      <p>(e) The Order contains content which could be considered threatening, indecent, obscene, offensive, pornographic, abusive, liable to incite racial hatred, discriminatory, menacing, scandalous, inflammatory, blasphemous, in breach of confidence, in breach of privacy or which may cause annoyance or inconvenience or for any other regulatory or statutory reason whatsoever;</p>
      <p>(f) The licence for the Order is not provided by you in accordance with paragraph 4 below; or</p>
      <p>(g) If we believe any EU Customer’s Order is for any commercial (e.g. resale) use or, in respect of any customer, any inappropriate use.</p>
      <p>
        <span class="bullet">2.2</span> If we refuse to accept an Order from an EU Customer, we will notify the customer directly of the reasons for refusal.
      </p>
      <p>
        <span class="bullet">2.3</span> For any Orders for Non-EU Customers which are refused, it is your responsibility to communicate with that customer and undertake any remedial action required.
      </p>
      <p>3. Fulfilment of Orders</p>
      <p>
        <span class="bullet">3.1</span> In respect of all Orders placed by EU Customers:
      </p>
      <p>(a) We will collate these Orders and arrange for production and delivery of these Orders based on Orders received through the purecore Merchandise Service, subject to the above acceptance criteria.</p>
      <p>(b) All Orders from EU Customers shall be fulfilled directly by us through our EU fulfilment partners.</p>
      <p>(c) You shall act as collector for purecore Limited in respect of all payments from EU Customers placing orders for purecore Merchandise (for which the designs are licensed to us by you) through Your Webstore and you shall provide this service to us free of charge.</p>
      <p>(d) We shall be entitled to all payments made by EU Customers in respect of purecore Merchandise and you shall not make any deductions from payments collected from EU Customers.</p>
      <p>
        <span class="bullet">3.2</span> In respect of all Orders placed by Non-EU Customers:
      </p>
      <p>(a) We will act as intermediary between you and our fulfilment partners. You will be deemed to have placed an Order with us when we are notified that a Non-EU Customer has placed an Order through Your Webstore.</p>
      <p>(b) We will collate a number of Orders made by Non-EU Customers and then email you a receipt confirming the products that make up the collated Order, which we will place on your behalf with our non-EU fulfilment partners.</p>
      <p>
        (c) As partial consideration for this intermediary service, we reserve the right to brand all packaging and products. Additionally, in exchange for the intermediary services, we will charge you a commission for each sale of purecore Merchandise you make to Non-EU Customers, the cost of which shall be set out on the control panel for Your Webstore (“
        <strong>Commission</strong>”).
      </p>
      <p>
        <span class="bullet">3.3</span> Our acceptance of an Order takes place when we despatch the Order, which we will confirm by e-mail.
      </p>
      <p>
        <span class="bullet">3.4</span> In respect of payments due to us by you:
      </p>
      <p>(a) All payments become due immediately when an order is placed. We will attempt to collect all due payments automatically by charging the payment method stored on your account (typically Card or PayPal)</p>
      <p>(b) In any instance where we have not received payments due from you for any order placed or any payment collected on our behalf from any EU Customer, we reserve the right to take any steps as deemed necessary in order to recover the monies due, including but not limited to the employment of a Debt Collection agency.</p>
      <p>(c) Without prejudice to our right to claim costs under the Late Payment of Commercial Debts (Interest) Act 1998, if for any reason any payment is not made when due we reserve the right to be paid on an indemnity basis any costs we incur in recovering any money due under this contract (and the costs of recovering such costs) including our administrative costs and any costs incurred with lawyers or debt collection agencies. Our administrative costs may include the cost of employing the staff concerned and the overheads attributable to them for the time spent. In calculating our administrative costs credit will be given for any compensation due under the Late Payment of Commercial Debts (Interest) Act 1998.</p>
      <p>4. Licence in respect of purecore Merchandise purchased by EU Customers</p>
      <p>
        <span class="bullet">4.1</span> All EU Customers shall be deemed to have placed Orders with purecore Limited directly using our purecore Merchandise Service. As part of the order process, you shall ensure that all designs which are to be incorporated into purecore Merchandise for EU Customers through the purecore Merchandise Service (“
        <strong>Artwork</strong>”) are uploaded through Your Webstore.
      </p>
      <p>
        <span class="bullet">4.2</span> You expressly grant us an irrevocable, sub-licensable licence in the EU to use the Artwork for all commercial purposes required pursuant to our performance of our obligations under this Schedule 1, including but not limited to the use, reproduction, adaptation, modification and publication of that Artwork and sale of products bearing that Artwork. You further confirm that you have obtained all express consents required to provide such Artwork to us for these purposes. You shall further be responsible for procuring all applicable licenses or other rights or consents required in order to grant such license to us.
      </p>
      <p>
        <span class="bullet">4.3</span> You agree that you will not attempt fulfil any Orders for purecore Merchandise to EU Customers, and accept that your sole remuneration in respect of EU Customer Orders shall be a royalty in respect of the Artwork provided for each Order for purecore Merchandise. The royalty in respect of any Artwork shall be calculated as follows:
      </p>
      <p>For each sale of purecore Merchandise to EU Customers bearing Artwork, you shall be entitled to a single, one-off royalty payment, details of which shall be confirmed to you by e-mail on an Order by Order basis, as it is calculated against the total Order value; and</p>
      <p>Such royalty payment shall be calculated by deducting the cost price from the agreed sale price of the purecore Merchandise Order, exclusive of all applicable sales taxes, delivery costs and any discounts or statutory deductions.</p>
      <p>
        (“
        <strong>Royalty</strong>”)
      </p>
      <p>5. Taxes & Delivery</p>
      <p>
        <span class="bullet">5.1</span> The quoted base price of each item is exclusive of VAT or any other applicable sales tax. We will charge VAT where applicable at the current rates to any customer residing in a country that has a VAT treaty with the UK. If sales taxes are chargeable in respect of any orders for purecore Merchandise, for EU Customers this shall be charged to them directly, and for Non-EU Customers you shall be responsible for ensuring that all applicable sales taxes are re-charged to your Non-EU Customer.
      </p>
      <p>
        <span class="bullet">5.2</span> All purecore Merchandise ordered shall be shipped to the addresses provided from Your Webstore checkout when the original Orders were placed. If any of the details are incorrect, we are not liable for any items which have not been received. Within a single collated Order you may specify multiple delivery addresses (up to one for each item), and orders will be dispatched to those specified addresses.
      </p>
      <p>
        <span class="bullet">5.3</span> Items are produced after receipt of Orders, and are subject to the terms of the relevant fulfilment provider. As such, all purecore Merchandise Orders may be subject to a lead time of 3-5 working days, with delivery being made as soon as possible after production. All items are intended to be delivered within 15 working days from the date of the Order (including the above production times). Although we will seek to update you on the progress of any Orders which have been despatched, we cannot guarantee delivery times or accept liability for late delivery.
      </p>
      <p>
        <span class="bullet">5.4</span> We do not accept any liability for out of pocket expenses or other costs incurred due to failed or delayed deliveries. Additionally, we are not responsible for any failed deliveries pursuant to any force majeure events, being events outside of our reasonable control.
      </p>
      <p>6. Order Cancellations</p>
      <p>
        <span class="bullet">6.1</span> purecore Merchandise is bespoke and therefore made to order by our fulfilment partners. Due to the bespoke nature of print on demand items, returns can only be accepted and refunds issued in cases where the purecore Merchandise is defective.
      </p>
      <p>Distance Selling Regulations and discretionary cancellation rights shall not apply in respect of the purecore Merchandise. It is your responsibility to ensure that this is made clear on Your Webstore and we shall accept no liability in respect of your failure to do so.</p>
      <p>
        <span class="bullet">6.2</span> All cancellations must be notified to us immediately (within 30 minutes) of making the purchase online. We will be unable to process any cancellation which arrives after the Order has been submitted to our fulfilment partner. All cancellations must be sent by email to merchandise@purecore.co.uk.
      </p>
      <p>
        <span class="bullet">6.3</span> We acknowledge that in respect of Orders from EU Customers, we are responsible for processing all refunds and returns. In the event that any EU Customers contact you, please refer them to our contact us via email on merchreturns@purecore.co.uk. In the event that an Order for an EU Customer is returned or refunded, we shall notify you directly of this, and you shall refund us any Royalty which was paid to you in respect of that item of purecore Merchandise within 7 days of the date of such notification. In the event that you do not refund Us any Royalty required to be repaid under this paragraph 6.3, we may, but shall not be obliged to, set off any Royalty refund owed to us against any future Royalty payable to you.
      </p>
      <p>
        <span class="bullet">6.4</span> In respect of Orders by Non-EU Customers, you shall be responsible for processing all returns and refunds for Non-EU Customers. Once a refund or return has been verified, if you require assistance in processing such returns, please contact us by e-mail on merchandise@purecore.co.uk.
      </p>
      <p>7. Returns & Exchange</p>
      <p>
        <span class="bullet">7.1</span> In respect of all requests for returns or exchanges for Non-EU Customers, it is your responsibility to process these in accordance with the law, and your terms and conditions of sale on Your Webstore. Once you have processed the return or refund for your Non-EU Customer, please then email us at merchandise@purecore.co.uk. Such e-mail must quote the Order number, the delivery name and address, details of the relevant purecore Merchandise product and the reason for return. We will then advise on how to proceed.
      </p>
      <p>
        <span class="bullet">7.2</span> If an item delivered to a Non-EU Customer is returned due to an error on our part, or because the purecore Merchandise is defective, we will provide a refund equal to the full value of the item, subject to the requirement that the item(s) must be returned in the condition in which it was received within 7 days of the date of notification of such defect. Provided the item is defective, we will also refund the cost of standard postage in respect of the item returned.
      </p>
      <p>
        <span class="bullet">7.3</span> Where the item delivered to a Non-EU Customer is not what was originally ordered (but is not defective), you may elect for a refund or a replacement. Please e-mail us at merchandise@purecore.co.uk to arrange your refund or replacement.
      </p>
      <p>8. Discounts</p>
      <p>If a discount was applied to your original order, the amount refunded will be adjusted to allow for the revised order value and appropriate discount level. Please note, any customer (including you) can only use a maximum of 1 discount code per Order unless expressly specified in writing otherwise in the terms of such code or voucher.</p>
      <p>9. Colour</p>
      <p>The colour of the purecore Merchandise that is produced may not exactly match the colour as displayed by Your Webstore or the purecore Merchandise Service on a computer monitor. Any Order shall not be deemed defective for minor variations in colour and each Order is placed at your own risk.</p>
      <p>10. Image Upload</p>
      <p>
        <span class="bullet">10.1</span> When using the image upload facility for the purecore Merchandise Service to add Artwork, you agree not to, nor permit any customer to, upload or print any images that will cause distress or offence to any person. It is your responsibility to ensure that express permission for any images you use has been granted by the owner of any image. purecore Merchandise will not be responsible for any copyright infringement by you, or any customer, and you shall indemnify us in full in respect of any claims arising from any Artwork whatsoever.
      </p>
      <p>
        <span class="bullet">10.2</span> Any material or content (including Artwork) that you upload or transmit, or permit to be uploaded or transmitted by customers, to us through purecore will be considered non-confidential. We have no obligations with respect to any such material. We and our fulfilment partners are free to copy, disclose, distribute, incorporate such material and all data, images, sounds, text and other things embodied for all commercial or non-commercial purposes. You are prohibited from posting, uploading or transmitting, or permitting a customer to post, upload or transmit, to the purecore Merchandise Service the following:
      </p>
      <p>obscene, menacing, scandalous, inflammatory, indecent, threatening, defamatory, blasphemous, offensive, pornographic, abusive, racial hatred, discriminatory, in breach of privacy or which may cause annoyance or inconvenience.</p>
      <p>any material you have not obtained all necessary licences and/or approvals.</p>
      <p>any material that could be constitute a criminal offence in any relevant jurisdiction.</p>
      <p>any material which could be harmful such as computer viruses, logic bombs, trojan horses, worms, harmful or corrupted data of any sort. You may not misuse the purecore Merchandise Services in any way, including but not limited to hacking it.</p>
      <p>11. Access to the Services</p>
      <p>
        <span class="bullet">11.1</span> The purecore Merchandise Service is normally available at all times. However, due to the nature of the internet and online stores, we cannot be held responsible if the purecore Merchandise Service isn't available for any reason. Access to the purecore Merchandise Service may be suspended temporarily without notice due to system error or for reasons beyond our control and we shall have no liability in respect of such downtime.
      </p>
      <p>
        <span class="bullet">11.2</span> We grant you a limited licence to use, and permit your customers to use, the purecore Merchandise Service in accordance with the terms of this Schedule 1 and the Terms. Neither you nor your customers shall obtain any right, interest or title whatsoever in the purecore Merchandise Service or any of our intellectual property rights. Upon termination or expiry of this Schedule 1 or the Terms, including any applicable Contract, your licence to use the purecore Merchandise Service shall terminate immediately.
      </p>
      <p>12. Personalisation Quality</p>
      <p>Where you choose to create a bespoke piece of purecore Merchandise by uploading Artwork, the quality of the final item will be dependent on the quality of the Artwork we receive. Images may be uploaded in jpeg, jpg, gif, and png format. We recommend that all Artwork is at least 300 Dots Per Inch. While we will try to notify you if the Artwork quality would not give a good end result, we are not obliged to do so. Furthermore, we will not be liable to you where the Artwork is poor quality and therefore the end product (so far as the reproduction of the Artwork is concerned) is not of a high standard, regardless of whether we have contacted you or not. You will not be able to reject or return purecore Merchandise on the basis of the quality of the personalisation where the Artwork you uploaded or submitted to us was not of satisfactory quality.</p>
      <p>13. Termination</p>
      <p>
        <span class="bullet">13.1</span> Either party may terminate this Agreement at any time by giving the other party 30 days’ prior written notice.
      </p>
      <p>
        <span class="bullet">13.2</span> Upon notice of termination, you shall immediately pay to purecore all outstanding monies (including payments collected on behalf of purecore for orders within the EU and any payments for orders already placed for fulfilment).
      </p>
      <p>
        <span class="bullet">13.3</span> Termination or expiry of this Agreement shall not affect any rights, remedies, obligations or liabilities of the parties that have accrued up to the date of termination or expiry, including the right to claim damages in respect of any breach of the agreement which existed at or before the data of termination or expiry.
      </p>
      <p>
        <span class="bullet">13.4</span> Other than as set out in the Agreement, neither party shall have any further obligation to the other under the Agreement after its termination.
      </p>
      <p></p>
      <p>14. Governing Law and Jurisdiction</p>
      <p>This Agreement shall be governed by and interpreted according to the law of England and Wales and all disputes arising under the Agreement shall be subject to the exclusive jurisdiction of the English courts.</p>
      <p>The parties have signed this Agreement on the date(s) below:</p>
      <p></p>
      <p></p>
      <p></p>
      <p>Signed ____________________________________ Date: _________________</p>
      <p></p>
      <p>For and on behalf of purecore Limited By _____________________________</p>
      <p></p>
      <p></p>
      <p>Signed ____________________________________ Date: _________________</p>
      <p></p>
      <p>By _________________________________</p>
      <p></p>
      <h1>Schedule 2 – Data Protection</h1>
      <h2 class="text-dark h3">Part A: Data Processing details</h2>
      <p></p>
      <p>Processing of the Protected Data by you under these Terms, the Merchandise Terms and/or the Contract shall be for the subject-matter, duration, nature and purposes and involve the types of Personal Data and categories of Data Subjects set out in this Part A.</p>
      <p></p>
      <h3 class="text-dark h4">1. Subject-matter of Processing:</h3>
      <p></p>
      <p>The processing of Protected Data through the operation of Your Webstore</p>
      <p></p>
      <h3 class="text-dark h4">2. Duration of the Processing:</h3>
      <p></p>
      <p>The lifetime of the webstore (although we may withdraw access to some data after a reasonable period has passed where it is unlikely to be needed to serve the above purposes)</p>
      <p></p>
      <h3 class="text-dark h4">3. Nature and purpose of the Processing:</h3>
      <p></p>
      <p>Manage customer service requests</p>
      <p>Provide information required to defend against fraudulent activity</p>
      <p>Fulfil purchases where not otherwise automatically fulfilled by the purecore system</p>
      <p>Send marketing information to customers via email only who have explicitly opted in to having such information sent to them</p>
      <p></p>
      <h3 class="text-dark h4">4. Type of Personal Data:</h3>
      <p>Name</p>
      <p>Postal address (either billing address or shipping address)</p>
      <p>Email address</p>
      <p>IP address</p>
      <p></p>
      <h3 class="text-dark h4">5. Categories of Data Subjects:</h3>
      <p></p>
      <p>Customers who have made a purchase through the webstore only</p>
      <p></p>
      <h2 class="text-dark h3">Part B: Technical and organisational security measures</h2>
      <p></p>
      <p>You shall implement and maintain the following technical and organisational security measures to protect the Protected Data:</p>
      <p></p>
      <p>In accordance with the Data Protection Laws, taking into account the state of the art, the costs of implementation and the nature, scope, context and purposes of the processing of the Protected Data to be carried out under or in connection with these Terms, the Merchandise Terms and/or the Contract, as well as the risks of varying likelihood and severity for the rights and freedoms of natural persons and the risks that are presented by the processing, especially from accidental or unlawful destruction, loss, alteration, unauthorised disclosure of, or access to the Protected Data transmitted, stored or otherwise processed, you shall implement appropriate technical and organisational security measures appropriate to the risk, including as appropriate those matters mentioned in Articles 32(a) to 32(d) (inclusive) of the GDPR.</p>
      <p></p>
      <h2 class="text-dark h3">Part C: GDPR Audit</h2>
      <p>This audit should be completed any time there is a change in how You process Protect Data, and at least every 6 months.</p>
      <p></p>
      <h3 class="text-dark h4">Access to Data</h3>
      <p>Please provide details of everyone who will have access to PII on your webstore. Consider people who are able to login, as well as people whom you may share data with via exports etc, For each person, include the scope of data they can access (full data access, access limited to data within a certain date range etc) .</p>
      <p></p>
      <h3 class="text-dark h4">External Systems</h3>
      <p>Please provide details of external systems being used to process PII data from the platform. This may include cloud services (e.g. Google Sheets), external databases, support systems, marketing tools etc. For each system, include what data is entered into that system (all data, names and emails only etc), the purpose of that system (e.g. email marketing, providing customer support, analytics etc) and where in the world that data will be stored (e.g. USA, EU, Australia etc)</p>
      <p></p>
      <h3 class="text-dark h4">Data Exporting</h3>
      <p>If data is to be exported outside of the EEA, confirm under which safeguard the data protection will be afforded:</p>
      <p>- The country has been deemed to provide an adequate level of protection for personal data by the European Commission.</p>
      <p>- The service provided has signed a specific data protection contract as approved by the European Commission</p>
      <p>- For provides based in the US, the providor is part of the Privacy Shield scheme</p>
      <p></p>
      <h3 class="text-dark h4">Data Processing</h3>
      <p>Please provide a list of every processing activity you are undertaking on this data. This may include: order fulfilment, email marketing, customer support, fraud prevention etc</p>
      <p></p>
      <h3 class="text-dark h4">Review of Processor Directives</h3>
      <p>Please confirm you have read our instructions as the data controller to you as the data processor in terms of acceptable processing of data, instructions on storage of data and further directives, and furthermore have shared these directives with anyone who has access to the data as identified above</p>
    </div>
  </v-container>
</template>