<template>
  <v-container style="max-width: 900px">
    <h1 class="text-dark h3">General Terms and Conditions</h1>
    <ol>
      <li>We reserve the right to terminate your account if any offensive/phishing/plagiarized content is found.</li>
      <li>We strive to keep website performance at its best, however if any service we provide experiences downtime due to technical issues, we are not liable for any loss of revenue during this period.</li>
      <li>The API located at http://api.purecore.io/ may be used for any purpose other than websites who are in competition with the services we provide.</li>
      <li>The features we provide are marketed "as-is".</li>
      <li>We reserve the right to change/revoke/limit features of the service at any point (unless they have been paid for).</li>
    </ol>

    <div class="py-4">
      <h2 class="text-dark h3">Protecting your data</h2>
      <p>
        All personal information stored on our servers is encrypted, and the data has restricted access only to
        our highly trained system administrators.
      </p>
    </div>

    <div class="py-4">
      <h2 class="text-dark h3">Disclosing your data</h2>
      <p>
        Your personal information is never disclosed to the outer public, and is only viewable by our support team
        when you have opened a support ticket using our support panel. We never disclose or sell your personal
        information to third party companies, however the management of purecore may request to view your account
        data under circumstances that we feel appropriate.
      </p>
    </div>
    <div class="py-4">
      <h2 class="text-dark h3">Refund policy</h2>
      <p>All sales are final and follow a strict no refund policy.</p>
    </div>
  </v-container>
</template>